{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1 class="fw-bolder">{{ post.title }}</h1>
    <p class="text-muted fst-italic mb-2 text-end">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|markdown }}
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary float-left" href="{% url 'blog:post_share' post.id %}">
            Share this post
        </a>
    </div>
    {% if similar_posts %}
        <div class="row card mt-2">
            <h2>Similar posts</h2>
            {% for post in similar_posts %}
                <p>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </p>
            {% endfor %}
        </div>
    {% endif %}
    {% if files %}
        <div class="row">
            {% for file in files %}
                {% if file.image %}
                    <img src="{{ file.image.url }}" width="200">
                {% else %}
                    <p>No image file associated</p>
                {% endif %}

                {% if file.audio %}
                    <audio controls>
                        <source src="{{ file.audio.url }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                {% else %}
                        <p>No audio file associated</p>
                {% endif %}
                {% if file.video %}
                    <video controls>
                        <source src="{{ file.video.url }}" type="video/mp4">
                        Your browser does not support the video element.
                    </video>
                {% else %}
                    <p>No video file associated</p>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-6 card"
        {% with comments.count as total_comments %}
            <h2>
                {{ total_comments }} comment{{ total_comments|pluralize }}
            </h2>
            <hr/>
        {% endwith %}
        {% for comment in comments %}

            <div class="comment">
                <p class="text-primary mb-4">
                    {{ comment.created }} user {% if comment.user %} {{ comment.user.first_name }} {% else %} Пользователь был удален {% endif %}
                     commented:
                </p>
                <p class="text-center">{{ comment.body|safe }}</p>

            </div>
            <hr/>
        {% empty %}
            <p>There are no comments.</p>
        {% endfor %}
        </div>
    </div>
    {% if user.is_authenticated %}
        {% include "blog/post/includes/comment_form.html" %}
    {% else %}
        <p>You need to log in to add a comment</p>
    {% endif %}
{% endblock %}